@font-face {
	font-family: "Blizzard";
	font-style: normal;
	font-weight: 300;
	src: local("Blizzard Light"), local("Blizzard-Light"), url("blizzard-light.woff") format("woff");
}
@font-face {
	font-family: "Blizzard";
	font-style: normal;
	font-weight: 400;
	src: local("Blizzard"), local("Blizzard"), url("blizzard-regular.woff") format("woff");
}
@font-face {
	font-family: "Blizzard";
	font-style: italic;
	font-weight: 400;
	src: local("Blizzard Italic"), local("Blizzard-Italic"), url("blizzard-regular-italic.woff") format("woff");
}
@font-face {
	font-family: "Blizzard";
	font-style: normal;
	font-weight: 700;
	src: local("Blizzard Bold"), local("Blizzard-Bold"), url("blizzard-bold.woff") format("woff");
}
/*
	#0078AB
*/
body{
	background:#040404 url("img/bg-top.jpg") 50% 0 no-repeat;
	padding:0px;
	margin:0px;
	color: #4a4a4a;
    font-family: Arial, "Trebuchet MS", sans-serif;
}
.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both}

.alignLeft{text-align:left;}
.alignRight{text-align:right;}
.alignCenter{text-align:center;}

.displayInlineBlock{display:inline-block;}

a { color:#0078AB;}
a:hover { color:#a4a4a4;}

.sprite{
	overflow:hidden;
	width:24px;
	height:24px;
	background:url("img/sprite-24-blue.png") no-repeat;
}

.blueButton {
	background: url("img/support-search-button.png") no-repeat; 
	border: 0; 
	color: #ffffff; 
	font-size:15px;
	height: 56px;
	line-height: 54px;
	width: 156px;
	padding:0;
	text-align:center;
	cursor:pointer;
}

.contentContainer{
	width: 990px;
	margin: 0px auto;
}

.borderBottom{
	border-bottom: 1px solid #0078AB;
}

#navBar {
	background: rgba(255,255,255,.05);
	border:1px solid rgba(255,255,255,.07);
	color:white;
	height:60px;
	font-size:17px;
	font-weight:bold;
	line-height:60px;    
}
#navBar .contentContainer{ max-width: 1120px; width: auto;}
#navBar a {
	display: inline-block;
	padding: 0px 23px;
	color:rgba(255,255,255,.7);
	-webkit-transition: text-shadow 160ms ease, color 160ms ease;
    transition: text-shadow 160ms ease, color 160ms ease;
	font-family: "Blizzard", "Arial", "Helvetica", sans-serif;
}
#navBar a:hover {
	color:white;
	}
#header{
	padding-top: 40px;
	background: url("img/bg-sides-2.png") repeat-x scroll center bottom;
}

#headerSearch{
	float:right;
	margin-top:25px;
	margin-right:7px;
	padding:0 3px 0 20px;
	background: url("img/search-form.png") 0 0 no-repeat;
	overflow:hidden;
	border-radius:4px;
	height:32px;
	width:280px;
}
#headerSearchSubmit {
	float:right;
	width:30px;
	height:32px;
	background: none;
	border: none;
	cursor:pointer;
}
#headerSearchInput {
	margin-left:16px;
	margin-top: 4px;
	width: 240px;
	color:#707070;
	background:transparent;
	outline:0;
	border:0;
	font-size:15px;
	position:absolute;
}

#logo{
	width:313px;
	height:92px;
	float:left;
	overflow:hidden;
	-webkit-user-select:none;
}
#logo a{
	width: 313px;
	height:72px;
	display:block;
	border:none;
	background: url("img/bnet-default.png") no-repeat;
}

#logoSubtitle{
	font-family: "Lucida Sans Unicode", Arial;
    margin-bottom: 10px;
    color: #89959a;
    font-weight: normal;
    letter-spacing: -0.05em;
    float: left;
    margin: 0 0 0 17px;
    padding-left: 18px;
    border-left: 1px solid #495354;
    font-size: 28px;
    line-height: 42px;
    position: relative;
    top: 13px;
}
#logoSubtitle a{color:#62737e;}

#headerNavBar {
	clear:both;
	margin-top:5px;
	height:50px;
	-webkit-user-select:none;
}

#headerNavBar a{
	display:inline-block;
	height: 36px;
	padding: 10px 15px 0;
	text-transform:uppercase;
	font-family:Arial, sans-serif;
	color: #00b6ff;
	position:relative;
}
#headerNavBar a.active{ color: #ffffff; }
#headerNavBar a:hover{ color: #ffffff; }

#headerNavBar a span.indicator{ 
	display:none; 
	position:absolute; 
	top:36px; 
	left: 50%;
	margin-left: -13px;
	background: url("img/menu-arrow.png") no-repeat;
	width: 27px;
	height:18px;
}
#headerNavBar a.active span.indicator{ display:block; }

#contentBody{
	background: #DDDCDA url("img/bg-middle-2.jpg") repeat-x center top;
	border-bottom: 4px solid #777674;
	padding-top: 23px;
	overflow-x:hidden;
	padding-bottom: 50px;
}

#footer{
	background:#040404 url("img/bg-top.jpg") 50% 70% no-repeat;
}

#homeSearchForm{margin-bottom: 20px;}
.searchForm input.search{
	border:0;
	background:url("img/support-search-box.png") no-repeat scroll;
	padding-left:15px;
	padding-top:18px;
	padding-right:18px;
	padding-bottom:11px;
	width: 450px;
}
.searchForm input.submit{
	height: 56px;
	width: 156px;
	color:#ffffff;
	background: url("img/support-search-button.png") no-repeat scroll 0 0 transparent;
	text-align: center;
	font-size:15px;
	line-height:54px;
	padding:0px;
	border:0px;
}
#homeSearchContainer{
	width: 640px;
	margin:0px auto;
}

.heading {
	color:black;
	border-bottom: 3px solid #AFADAC;
	font-size:26px;
	margin-bottom:15px;
	letter-spacing:-1px;
	padding-bottom:6px;
	font-weight:bold;
	line-height:1.1;
}

.flame{
	background: url("img/flame-bullet.png") no-repeat scroll 0 7px transparent;
	text-indent:20px;
}

.questionListItem  .questionStats .score,
.questionListItem  .questionStats .answers,
.questionListItem  .questionStats .views {
	padding: 5px;
	margin: 5px;
	border-radius:3px;
	border:2px solid #0078AB;
	text-align:center;
	background:white;
	color: #0078AB;
	font-weight: bold;
	display:inline-block;
}

.questionListItem .questionBody{ width: 70%;}
.questionListItem .questionStats{ width: 28%; margin-right: 2%; text-align: right;}

.questionListItem .questionBody,
.questionListItem .questionStats {display:inline-block; vertical-align: top;}

.questionListItem  .questionStats .stat { font-size: 18px; }
.questionListItem  .questionStats .title { font-size: 12px; font-weight:normal;}

a.questionLink { color:#4a4a4a; font-size:1.5em;}
a.questionLink:hover { color:#0078AB;}

.questionListItem h3 {padding: 5px 0px; margin: 4px 0px;}

.questionListItem {margin-bottom: 20px; border-bottom: 1px solid #a4a4a4; padding-bottom: 6px;}
.questionListItem .tags{font-size: .9em; padding-bottom: 4px;}

.tagLink, a.tagLink {
	background: rgba(0,120,171,.7); 
	border-radius: 3px; 
	color:white; 
	margin: 0px 5px; 
	padding: 0px 8px;
	border: 1px solid #0078AB;
	display:inline-block;
}

.tagLink:hover, a.tagLink:hover { background:white; color: #0078AB; }

#searchPage .searchForm {margin-bottom: 20px; text-align:center;}

#questionPage h3 {font-size: 1.5em; height:auto; padding:15px 0px;}

#questionPage .question, #questionPage .answer { margin-bottom: 20px;}

.postBodyContainer .postScoring{
	width: 5%;
	margin-right: 2%;
	display:inline-block;
	vertical-align:top;
}
.postBodyContainer .postBody{
	width: 93%;
	display:inline-block;
	vertical-align:top;
}

.postBodyContainer .postScoring .score{
	width:24px;
	height:24px;
	padding: 5px;
	margin: 5px;
	border-radius:3px;
	border:2px solid #0078AB;
	text-align:center;
	background:white;
	color: #0078AB;
	line-height:24px;
	font-weight: bold;
}

.postBodyContainer .postScoring .upvoteLink,
.postBodyContainer .postScoring .downvoteLink,
.postBodyContainer .postScoring .favoriteLink {
	margin:12px;
	display:block;
	overflow:hidden;
	width:24px;
	height:24px;
	background:url("img/sprite-24-blue.png") no-repeat;
}

.postBodyContainer .postScoring .upvoteLink{background-position:-120px -384px;}
.postBodyContainer .postScoring .upvoteLink.active{background-position:-120px -456px;}
.postBodyContainer .postScoring .downvoteLink{background-position:-96px -384px;}
.postBodyContainer .postScoring .downvoteLink.active{background-position:-96px -456px;}
.postBodyContainer .postScoring .favoriteLink{background-position:-168px -168px;}
.postBodyContainer .postScoring .favoriteLink.active{background-position:-192px -168px;}
.postBodyContainer .tags{ padding-bottom: 4px;}

.tagListing {
	border-radius: 4px;
	border:2px solid #0078AB;
	background:white;
	height: 192px;
	display:inline-block;
	overflow:hidden;
	width: 20%;
	margin:20px 1%;
	padding: 12px 1%;
}

#profileLinks .profileLink,
#profileLinks a.profileLink { 
	color: black;
	font-weight:bold;
	display:inline-block;
	height: 32px;
	margin: 0px 8px;
	padding: 0px 16px;
	line-height:32px;
	border-radius: 3px;
}

#profileLinks .profileLink.active,
#profileLinks .profileLink.active:hover,
#profileLinks a.profileLink.active,
#profileLinks a.profileLink.active:hover{ color:#ffffff; background: #0078AB;}

#profileLinks .profileLink:hover,
#profileLinks a.profileLink:hover { color:#0078AB; }

#portraitBox { 
	padding: 16px; 
	border-radius: 3px;
	border:1px solid #0078AB;
	margin-right: 16px;
	margin-bottom: 16px;
}

#portraitBadges{
	width: 80%;
	margin: 0px auto;
}

#portraitBadges .badgeCountContainer {
	line-height: 12px;
	font-size: 12px;
	padding: 4px 4px;
	border-radius: 3px;
	margin: 3px;
}

.badgeIcon {
	width: 8px;
	height: 8px;
	display:inline-block;
	margin-right: 4px;
	border-radius:4px;
}
.gold .badgeIcon{ background: #ffcc00;}
.silver .badgeIcon{ background: #c5c5c5;}
.bronze .badgeIcon{ background: #cc9966;}

.badgePlate{
	line-height: 12px;
	font-size: 12px;
	padding: 4px 4px;
	border-radius: 3px;
	margin: 3px;
	background: rgba(0,120,171,.4);
	border: 1px solid #0078AB;
}

.badgePlate .badgeName{margin-right: 4px;}

.badgePlateContainer {width: 12%; margin-right:1%;}
.badgeDescription { width: 87%;}

#portraitBadges .gold {background: #fff8e2;border: 1px solid #ece3c8;}
#portraitBadges .silver {background: #edeeef;border: 1px solid #e0e1e3;}
#portraitBadges .bronze {background: #f9ebe1;border: 1px solid #f1decc;}

#profileStats {
	padding: 16px;
	width: 200px;
	border-radius: 3px;
	border: 1px solid #0078AB;
	margin-left: 16px;
	margin-bottom: 16px;	
}

#profileStats .sprite {margin-right:4px;}

#profileStats .sprite.location{ background-position: -48px -288px;}
#profileStats .sprite.link{ background-position: -216px -72px;}
#profileStats .sprite.joined{ background-position: -24px -384px;}
#profileStats .sprite.views{ background-position: -192px -360px;}

#profileStats .profileInfoLine{ line-height: 24px; height:24px;}
#profileStats .profileInfoLine > span,
#profileStats .profileInfoLine > a{ vertical-align: top;}

h3.myAnswer { font-size: 18px;}